<!DOCTYPE html>
<html lang="zh">
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
  (adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-2424532052198661",
  enable_page_level_ads: true
  });
    </script> 




<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ShoeSize</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/Content/redscarf2")
    @Scripts.Render("~/bundles/redscarf2")
</head>
<body>

    <div id="wrapper">
        <div id="header-wrapper"></div>
        <div id="nav-wrapper"></div>
        <div id="nav-wrapper-small"></div>
        <div class="main cf">
            <div class="container">
                <div class="single-container">
                    <div class="banner_ads"></div>
                    <div class="single-main">

                        @RenderBody()


                    </div>
                    <div class="single-author"></div>
                    <div class="category-title recommended-title tpl-top "></div>
                    <div class="recommended-articles"></div>
                    <div class="single-weibo"></div>


                </div>

                <div id="sidebar">
                    <div class="sb-search"></div>
                    <div class="sidebar_ads"></div>
                    <div class="sb-ads"></div>
                    <div class="sidebar_ads"></div>
                    <div class="sidebar_ads"></div>
                    <div class="sidebar_ads"></div>
                    <div class="sb-articles"></div>
                </div>
            </div>
            <div class="footer-wrapper">
                <div class="footer-left"></div>
                <div class="footer-right"></div>
                <div class="copyright"></div>
            </div>


        </div>


    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
