<!DOCTYPE html>
<html lang="zh">
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
  (adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-2424532052198661",
  enable_page_level_ads: true
  });
    </script> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ShoeSize</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="ezCSS" style="padding-top:0px">

    <div id="ez-header-wrapper" class="ezCSS">
        <div id="ez-header" class="inner-width ezCSS">
            <div id="ezoic-logo" class="html5header ezCSS">
                <div id="logoText" class="html5hgroup ezCSS">
                    <h1 id="siteName" class="ezomat-logo-text ezCSS">
                        <a href="http://www.shoesize.cn" class="ezCSS">鞋子尺码对照表(Shoe Size Conversion Charts by Brand)</a>
                    </h1>
                </div>
            </div>
        </div>
    </div>


    <div id="ez-side-nav" class="ezCSS">
        <ul id="ez-side-menu" class="ezCSS ezCSS">
            <li id="item_71711" class="ezCSS"><a href="~/home/" style="font-size: inherit;" class="ezCSS ezCSS">品牌列表(Brands List)</a></li>
            <li id="item_71710" class="ezCSS"><a href="~/ContactUs/" style="font-size: inherit;" class="ezCSS ezCSS">联系我们(Contact Us)</a></li>
            <li id="item_71711" class="ezCSS"><a href="~/AboutUs/" style="font-size: inherit;" class="ezCSS ezCSS">关于我们(About Us)</a></li>
            
        </ul>
    </div>

    <div id="ez-container" class="ezCSS">
        <div id="ezoic-content" class="ezCSS">
            @RenderBody()
            <hr />

            

            <footer>
                @*<p>&copy; @DateTime.Now.Year - shoesize.cn</p>*@
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("品牌列表(Brands List)", "Index", "Home", new { area = "" }, null)</li>

                </ul>
            </footer>



        </div>

        <div id="ez-sidebar" class="ezSidebar ezCSS">
            
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
