@model CYInfo.CMKWeb.Models.BrandSizeChart

@{
    ViewBag.Title = "";
}

<h2></h2>

<div>


    <div align="center">
        <h1> @Html.DisplayFor(model => model.BrandName)</h1>
    </div>

                <hr />
                <dl class="dl-horizontal">
                    @*<dt>
                            @Html.DisplayNameFor(model => model.BrandName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BrandName)
                        </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Women)
                    </dt>

                    <dd>

                        @Html.Raw(@Model.Women)

                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Men)
                    </dt>

                    <dd>

                        @Html.Raw(@Model.Men)

                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Kids)
                    </dt>

                    <dd>
                        @Html.Raw(@Model.Kids)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Baby)
                    </dt>

                    <dd>
                        @Html.Raw(@Model.Baby)
                    </dd>

                </dl>
            </div>

