@model IEnumerable<CYInfo.CMKWeb.Models.Brand>

@{
    ViewBag.Title = "Shoe Size Chart";
}

Below you will find a list of the many different brands for which we provide shoe size conversion charts. If you don’t find the brand you’re looking for, make sure to check back later as we’re constantly adding new brands. If you’d like to suggest a brand, please contact us to let us know.


<table class="table">



@{
  int i = 0; 

foreach (var item in Model) {
    if(i%4==0)
    {
        @(new HtmlString("<tr><td>"));
            @Html.DisplayFor(modelItem => item.BrandPrefix);
                     @*@(new HtmlString("<table>"));
                     foreach (string brandname in item.BrandName)
                     {
                        @(new HtmlString("<tr><td>"));
                        @Html.ActionLink(@brandname, "GetSiezeChartByBrandName", "SizeCharts", new { brandName = @brandname }, new { })
                        @(new HtmlString("</td><tr>"));
                     }
                     @(new HtmlString("</table>"));*@
                    @(new HtmlString("<ul>"));
                    foreach (string brandname in item.BrandName)
                    {
                        @(new HtmlString("<li>"));
                    @Html.ActionLink(@brandname, "GetSiezeChartByBrandName", "SizeCharts", new { brandName = @brandname }, new { })
                    @(new HtmlString("</li>"));
                    }
                    @(new HtmlString("</ul>"));

            @(new HtmlString("</td>"));
    }
    else if (i % 4 == 1 || i % 4 == 2)
    {
        @(new HtmlString("<td>"));
        @Html.DisplayFor(modelItem => item.BrandPrefix);
                    @(new HtmlString("<ul>"));
                    foreach (string brandname in item.BrandName)
                    {
                        @(new HtmlString("<li>"));
                    @Html.ActionLink(@brandname, "GetSiezeChartByBrandName", "SizeCharts", new { brandName = @brandname }, new { })
                    @(new HtmlString("</li>"));
                    }
                    @(new HtmlString("</ul>"));
        @(new HtmlString("</td>"));
    }
    else if (i % 4 == 3)
    {
        @(new HtmlString("<td>"));
        @Html.DisplayFor(modelItem => item.BrandPrefix);

                    @(new HtmlString("<ul>"));
                    foreach (string brandname in item.BrandName)
                    {
                        @(new HtmlString("<li>"));
                    @Html.ActionLink(@brandname, "GetSiezeChartByBrandName", "SizeCharts", new { brandName = @brandname }, new { })
                    @(new HtmlString("</li>"));
                    }
                    @(new HtmlString("</ul>"));

        @(new HtmlString("</tr></td>"));
    }
    ++i;

   
}
}

</table>
